{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" >
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" >
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title index-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
    <div class="two-columns">
      <div>
      <time class="published" datetime="{{ article.date.isoformat() }}">
        <em>Published:</em> {{ article.locale_date }}
      </time><br>
      {% if article.modified %}
      <time class="modified" datetime="{{ article.modified.isoformat() }}">
        <em>Last Update:</em> {{ article.locale_modified }}
      </time>
      {% endif %}
      <br><br>
      {% if false %}{% if article.authors %}
      <address class="vcard author">
        By {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
      </address>
      {% endif %}%{% endif %}
      <div class="social-share">
        <ul>
          <li><strong>Share:</strong></li>
          <li><a href="mailto:?subject=Ludo%20Air%3A%20{{ article.title }}&body={{ SITEURL }}%2F{{ article.url }}&share=email&nb=1" target="_blank">Email</a></li>
          <li><a href="https://www.facebook.com/sharer.php?u={{ SITEURL }}%2F{{ article.url }}" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/intent/tweet?url={{ SITEURL }}%2F{{ article.url }}" target="_blank">Twitter</a></li>
          <li><a href="https://www.reddit.com/submit?url={{ SITEURL }}/{{ article.url }}&title=Ludo%20Air%3A" target="_blank">Reddit</a></li>
        </ul>
      </div>
      <!-- tags -->
      {% if article.tags %}
      <div class="tags">
          {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
          {% endfor %}
      </div>
      {% endif %}
      <!-- depends on pelican-related-posts -->
      </div>
      {% if article.related_posts %}
      <nav class="related-posts" aria-labelledby="related-posts-heading">
        <h3 id="related-posts-heading">Related Posts</h3>
        <ul>
        {% for related_post in article.related_posts %}
            <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </div>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="page-content entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
