<script>
    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });
    
    // Submit will refresh the page, so read the URL Search params on page load.
    $( document ).ready( function (){
        if (params.message != null){
            send_message();
        }
    });
    
    function send_message(){
        /* Compose email message */
        emailMessage = '[putz.space - contact form]' +
                '\nFrom: ' + params.name +
                '\n-----' + 
                '\n' + params.message;
        console.log(emailMessage);
        location.href='mailto:inquiry@putz.space?subject='+encodeURIComponent(params.subject)+'&body='+encodeURIComponent(emailMessage);
        history.pushState(null, "", location.href.split("?")[0]);   //remove the query after it's been sent
    }
</script>
<form id="send-message">
    <h2>Contact Me</h2>
    <p><em>Currently opens your default mail client.</em></p>
    <label for="name">Name</label>
    <input type="text" name="name">
    <br>
    <label for="subject">Subject</label>
    <input type="text" name="subject">
    <br>
    <label for="message">Message</label>
    <textarea type="text" name="message"></textarea>
    <br>
    <input type="submit" value="Send Message">
</form>